.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: grey;
  padding-left: 10%;
  padding-right: 10%;
  position: static;
  padding: 1%;
}

.shortCutElement {
  width: 20px;
  margin: 8px;
}

.shortCut {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 150px;
}

.search {
  width: 10px;
}

.search-button {
  border: none;
  color: white;
  padding: 7px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input {
  padding: 5px 10px;
  box-sizing: border-box;
  width: 600px;
}

.expand-button {
  color: white;
  cursor: pointer;
}
